<div class="container-fluid mt-4">
    <div class="mt-2 mb-1">
      <h2 class="text-center mt-3"><strong>Messages reçus</strong></h2>
        <label for="formGroupExampleInput2" class="form-label"><h3><strong>Rechercher un message</strong></h3></label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Entrer le mot à rechercher">
        <table class="table">
            <thead class="table-dark">
              <tr>
                <th class="col-md-1" scope="col">#</th>
                <th class="col-md-1.5" scope="col">Nom et prénom</th>
                <th class="col-md-1.5" scope="col">Téléphone</th>
                <th class="col-md-1" scope="col">email</th>
                <th class="col-md-5" scope="col">Message</th>
                <th class="col-md-2" scope="col">statut</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of messages let i=index">
                <th scope="row">{{i+1}}</th>
                <ng-container *ngIf="item?.user">
                  <td>{{item?.user?.last_name}} {{item?.user?.first_name}}</td>
                  <td>{{item?.user?.phone}}</td>
                  <td>{{item?.user?.email}}</td>
                </ng-container>
                <ng-container *ngIf="!item?.user">
                  <td>{{item?.name}} {{item?.surname}}</td>
                  <td>{{item?.phone}}</td>
                  <td>{{item?.email}}</td>
                </ng-container>
                
                <td>
                    <p>
                      <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample{{item.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                        Lire
                      </a>
                    </p>
                    <div class="collapse" id="collapseExample{{item.id}}">
                    <div class="card card-body">
                        {{item?.message}}
                    </div>
                    </div>
                </td>
                <td>
                  <select (change)="changeStatMsg(item, $event)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                    <option *ngFor="let staat of statuts" [selected]="item?.statut==staat" >{{staat}}</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>     
   
    </div>
</div>