<div class="container-fluid mt-4">
    <div class="mt-2 mb-1">
      <h2 class="text-center mt-3"><strong>Liste de mes commandes</strong></h2>
    </div>
    <table class="table">
        <thead>
          <tr>
            <th class="col-md-0.5" scope="col">#</th>
            <th class="col-md-1.5" scope="col">Numéro de commande</th>
            <th class="col-md-8" scope="col">Articles commandés</th>
            <th class="col-md-2" scope="col">Statut(livré ou pas)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
</div>