<div class="container-fluid mt-5">
    <!-- Button trigger modal -->
    
    <div class="mt-2 mb-1">
      <h2 class="text-center mt-3"><strong>Liste des produits rejetés</strong></h2>
      <!-- <label for="formGroupExampleInput2" class="form-label"><h3><strong>Rechercher un article</strong></h3></label> -->
      <!-- <input type="text" class="form-control" [(ngModel)]="productFiltering" id="formGroupExampleInput2" placeholder="Entrer le mot à rechercher"> -->
    </div>
    <table class="table">
        <thead>
          <tr>
            <th class="col-md-1" scope="col">#</th>
            <th class="col-md-1.5" scope="col">Catégorie</th>
            <th class="col-md-1.5" scope="col">Sous-catégorie</th>
            <th class="col-md-2" scope="col">Titre Produit</th>
            <th class="col-md-1.5" scope="col">Marque</th>
            <th class="col-md-2" scope="col">Image</th>
            <th class="col-md-3" scope="col">Raison du rejet</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of rejectsProducts let i=index">
            <th scope="row">{{i+1}}</th>
            <td>{{item.category?.name}}</td>
            <td>{{item.subCategory?.name}}</td>
            <td>{{item?.title}}</td>
            <td>{{item.brand?.name}}</td>
            <td>
              <img width="60px" height="65px" [src]="item?.mainImg | image" alt="" srcset="">
            </td>
            <td [innerHTML]="item?.rejectReason"></td>
          </tr>
         
        </tbody>
      </table>
    <!-- <pagination-controls id="productId" (pageChange)="p = $event"></pagination-controls> -->
</div>